/* INVALID INPUT */
input.ng-invalid {
    border-color: #f90000!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #afc9f0!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
/*ul.tab li a:focus, .active {background-color: #ccc;}*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   /* border: 1px solid #ccc;*/
    border-top: none;
}

.tabcontent .ligne {
    position : relative;
    padding: 2px 0;
    margin-bottom: 8px;
    min-height: 20px;
    padding: 1px 10px;
}
#left_col .uiContentBox .tabcontent .ligne{
    padding: 2px 10px;
}

.tabcontent .ligne.getUserLigne {
    padding: 15px 8px;
    display: block;
    width: auto;
    margin: auto;
    float: none;
    background: #fbfbfb;
    border: none;
    text-align: center;
}
.tabcontent .ligne i.uiIconEdit{
    position: absolute;
    top: 5px;
    right: 24px;
    opacity : 0;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
}
.tabcontent .ligne:hover i.uiIconEdit{opacity : 1;}
img.avatar {
    height: 112px;
    margin-bottom: 18px;
}

.tabcontent .ligne > b{
    color :#2f5e92;
    width: 45%;
    margin-right: 4px;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.tabcontent .span3 .ligne > b{
    width: 40%;
    margin-right: 4px;
}
.tabcontent .ligne > span{
      overflow: hidden;
      display: inline-flex;
}
.tabcontent .span3,.tabcontent .span4{overflow: hidden}

.tabcontent .getUserLigne > b{
    width: auto;
    height: auto;
    line-height: 28px;
    padding-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.tabcontent input{ margin-bottom :0}

.uiBox .uiContentBox.formContainer{
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

/* Style of requests Table */
#requestsTable tr > td:nth-last-child(1){
    text-align: center;
}

/**/

input.requestEdit{
    display: inline-block;
    width: 50%;
    background: #FFF;
    float: left;
    height: 20px;
    margin-bottom: 0
}
.span3 input.requestEdit{width: 54%}
input.requestEdit[readonly]{
    display: inline-block;
        width: 50%;
        background: #FFF;
        border: 0;
        box-shadow: none;
        color: #333;
        padding: 0;
        cursor: pointer;
}
.Submitbtn {
    float: right;
    margin: 20px 20px 0 20px;
}
#submit {display: none}
.addRequest{
        float: right;
        margin-top: -45px;
}
/* */
/*  -- Date Pick --  */
/* */

.ui-widget-header{
    background: #36669b;
    border-color: #36669b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #626262;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
 .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background: rgb(54, 102, 155);
        border-color: rgb(54, 102, 155);
        color: #f8f8f8;
}

.ui-widget.ui-widget-content{background: #FFF}



.attachementName {
    background: none repeat scroll 0 0 #e2eafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    display: inline-block;
    font-size: 11px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    max-width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left_col {
    float:left;
    width:50%;
    border-right: 1px solid #dadada;
    height: 480px;
    overflow-y: overlay;
}
#left_col.no-border{border : 0!important}
#right_col {
    float: left;
    position: relative;
    width: 48%;
    height: 480px;
    overflow-y: overlay;
    border-left: 1px solid #dadada;
}


.commmentLeft {
    float: left;
}
.commentRight {
    margin-left: 45px;
}
.commentRight textarea{width: 100%}


hr.clearfix {
    clear: both;
    opacity: 0;
    margin: 0;
}

.uiBox.elementDetail {
    position: relative;
}
div#tab-comments {
    padding: 25px 10px;
    padding-right: 0;
}
.commentList.inputContainer {
    position: absolute;
    bottom: 0;
}
.inputContainer {
    position: absolute;
    bottom: 10px;
    right: 2px;
    left: 10px;
}
.commentList {
    height: 285px;
    overflow-x: auto;
}
select#managerCalendarId {
    width: 49%;
}
/* -- -- ADDON MENU -- -- */
ul#addonMenu {
    margin: 0;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -o-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: linear-gradient(to bottom,#f8f8f8,#e6e6e6);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffe6e6e6',GradientType=0);
    -webkit-box-shadow: inset;
    -moz-box-shadow: inset;
    box-shadow: inset;
    height: 90px;
}
ul#addonMenu > .active > a{
    background-color: #8f8f8f;
    background-image: -moz-linear-gradient(top,#999,#808080);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#808080));
    background-image: -webkit-linear-gradient(top,#999,#808080);
    background-image: -o-linear-gradient(top,#999,#808080);
    background-image: linear-gradient(to bottom,#999,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff808080',GradientType=0);
    -webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    -moz-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
}
ul#addonMenu > li > a {
    text-align: center;
    border: none;
    background: none;
    height: 51px;
    min-width: 45px;
    margin: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
        border-radius: 5px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
ul#addonMenu > li > a > i{  font-size: 32px;}
ul#addonMenu li > a > span {
    display: block;
    color: #333;
}
ul#addonMenu > .active> a > span,
ul#addonMenu > .active> a > i{
    color: #fff;
    text-shadow: none;
}
.nav-tabs li, .nav li{cursor: pointer}
.commentItem.commentFormBox {margin-top: 30px;}
.commentsBloc, .logsTabs{
border: 1px solid #cccccc;
border-top: 0;
}
a.actionIcon.inline-block-hide.uploadicon {
    padding: 1px 5px;
}
a.actionIcon.inline-block-hide.attachement{
    display: inline-flex;
    margin-top: -2px;
    padding: 2px 4px;
}
div#resultMessage {
    margin-left: 5px;
}