/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
/*ul.tab li a:focus, .active {background-color: #ccc;}*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.uiBox.elementDetail {
    padding-right: 15px;
}

.tabcontent .ligne {
    position : relative;
    padding: 2px 0;
    margin-bottom: 8px;
        min-height: 20px;
}
.tabcontent .ligne i.uiIconEdit{
    position: absolute;
    top: 5px;
    right: 15px;
    opacity : 0;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
}
.tabcontent .ligne:hover i.uiIconEdit{opacity : 1;}
img.avatar {
    height: 112px;
    margin-bottom: 18px;
}

.tabcontent .ligne > b{
    color :#2f5e92;
    width: 45%;
    margin-right: 4px;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.tabcontent .span3 .ligne > b{
    width: 40%;
    margin-right: 4px;
}
.tabcontent .ligne > span{
      overflow: hidden;
      display: inline-block;
}
.tabcontent .span3,.tabcontent .span4{overflow: hidden}

.tabcontent .getUserLigne > b{
    width: auto;
    height: 28px;
    line-height: 28px;
    padding: 10px 10px 5px 10px;
}
.tabcontent input{ margin-bottom :0}

.uiBox .uiContentBox.formContainer{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Style of requests Table */
#requestsTable tr > td:nth-last-child(1){
    text-align: center;
}

/**/

input.requestEdit{
    display: inline-block;
    width: 50%;
    background: #FFF;
    float: left;
    height: 20px;
    margin-bottom: 0
}
.span3 input.requestEdit{width: 54%}
input.requestEdit[readonly]{
    display: inline-block;
        width: 50%;
        background: #FFF;
        border: 0;
        box-shadow: none;
        color: #333;
        padding: 0;
        cursor: pointer;
}
.Submitbtn {
    float: right;
    margin: 20px 20px 0 20px;
}
#submit {display: none}
.addRequest{
        float: right;
        margin-top: -45px;
}
/* */
/*  -- Date Pick --  */
/* */

.ui-widget-header{
    background: #36669b;
    border-color: #36669b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #626262;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
 .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background: rgb(54, 102, 155);
        border-color: rgb(54, 102, 155);
        color: #f8f8f8;
}

.ui-widget.ui-widget-content{background: #FFF}



.attachementName {
    background: none repeat scroll 0 0 #e2eafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #215ab2;
    display: inline-block;
    font-size: 11px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    max-width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left_col {
    float:left;
    width:50%;
    border-right: 1px solid #dadada;
    height: 450px;
    overflow-y: overlay;
}
#left_col.no-border{border : 0!important}
#right_col {
    float:right;
    width:48%;
    height: 450px;
    overflow-y: overlay;
    border-left: 1px solid #dadada;
}


.commmentLeft {
    float: left;
}
.commentRight {
    margin-left: 45px;
}
.commentRight textarea{width: 100%}


hr.clearfix {
    clear: both;
    opacity: 0;
    margin: 0;
}