/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.uiBox.elementDetail {
    padding-right: 15px;
}

.tabcontent .ligne {
    position : relative;
    padding: 2px 0;
    margin-bottom: 8px;
        min-height: 20px;
}
.tabcontent .ligne i.uiIconEdit{
    position: absolute;
    top: 5px;
    right: 15px;
    opacity : 0;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
}
.tabcontent .ligne:hover i.uiIconEdit{opacity : 1;}
img.avatar {
    height: 112px;
    margin-bottom: 18px;
}

.tabcontent .ligne > b{
    color :#2f5e92;
    width: 45%;
    margin-right: 4px;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.tabcontent .span3 .ligne > b{
    width: 40%;
    margin-right: 4px;
}
.tabcontent .ligne > span{
      overflow: hidden;
      display: inline-block;
}
.tabcontent .span3,.tabcontent .span4{overflow: hidden}

.tabcontent .getUserLigne > b{
    width: auto;
    height: 28px;
    line-height: 28px;
}
.tabcontent input{ margin-bottom :0}

.formContainer{padding-top: 30px}

/* Style of requests Table */
#requestsTable tr > td:nth-last-child(1){
    text-align: center;
}

/**/

input.requestEdit{
    display: inline-block;
    width: 50%;
    background: #FFF;
    float: left;
    height: 20px;
    margin-bottom: 0
}
.span3 input.requestEdit{width: 54%}
input.requestEdit[readonly]{
    display: inline-block;
        width: 50%;
        background: #FFF;
        border: 0;
        box-shadow: none;
        color: #333;
        padding: 0;
        cursor: pointer;
}
.Submitbtn {
    float: right;
    margin: 20px 20px 0 20px;
}
#submit {display: none}