.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhAddon {
	padding: 20px 30px;
}


#wrap {
	padding: 10px;
}
#left_col {
	float:left;
	width:50%;
}
#right_col {
	float:right;
	width:48%;
}

body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}
#myCalendar {
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
}



