.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhUserInfo {
	padding: 20px 30px;
}



body {
	
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}



.exoer {
	color: #4d5466;
	width: 60px;
	text-align: center;
}

.google-visualization-orgchart-lineleft {
	border-left: 2px solid #333!important;
}
.google-visualization-orgchart-linebottom {
	border-bottom: 2px solid #333!important;
}
.google-visualization-orgchart-lineright {
	border-right: 2px solid #333!important;
}

.google-visualization-orgchart-nodesel {
    border: none;!important;
}


.exoer img {
	clear: both;
	display: block;
	margin: auto;
	max-height: 70px;
    max-width: 70px;
	border-radius: 100px;
}


/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}


/* Create an active/current tablink class */
/*ul.tab li a:focus, .active {background-color: #ccc;}*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   /* border: 1px solid #ccc;*/
    border-top: none;
    position: relative;
}

.tabcontent .ligne {
    position : relative;
    padding: 2px 0;
    min-height: 25px;
    line-height: 25px;
    padding: 1px 10px;
}
#left_col .uiContentBox .tabcontent .ligne{
    padding: 2px 10px;
}

/* -- -- ADDON MENU -- -- */
ul#addonMenu {
    margin: -20px -30px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -o-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: linear-gradient(to bottom,#f8f8f8,#e6e6e6);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffe6e6e6',GradientType=0);
    -webkit-box-shadow: inset;
    -moz-box-shadow: inset;
    box-shadow: inset;
    height: 90px;
}
ul#addonMenu > .active > a{
    background-color: #8f8f8f;
    background-image: -moz-linear-gradient(top,#999,#808080);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#808080));
    background-image: -webkit-linear-gradient(top,#999,#808080);
    background-image: -o-linear-gradient(top,#999,#808080);
    background-image: linear-gradient(to bottom,#999,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff808080',GradientType=0);
    -webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    -moz-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
}
ul#addonMenu > li > a {
    text-align: center;
    border: none;
    background: none;
    height: 51px;
    min-width: 45px;
    margin: 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
ul#addonMenu > li > a > i{  font-size: 32px;}
ul#addonMenu li > a > span {
    display: block;
    color: #333;
}
ul#addonMenu > .active> a > span,
ul#addonMenu > .active> a > i{
    color: #fff;
    text-shadow: none;
}
.nav-tabs li, .nav li{cursor: pointer}
ul#addonMenu {
    background: #f8f8f8!important;
}
ul#addonMenu [class^="uiIcon"], .LeftNavigationTDContainer .uiPopup [class^="uiIcon"]{ color : #a8b3c5!important;}

ul#addonMenu > .active> a > span, ul#addonMenu > .active> a > i {
    color: #578dc9!important;
}
ul#addonMenu > .active > a{background: none!important;box-shadow: none!important;}
ul#addonMenu li {margin: 0 19px;}
ul#addonMenu li.active {
    cursor: pointer;
    border-bottom: 4px solid #578dc9;
    border-radius: 0;
    height: 88px;
    margin: 0 19px;
}
#exportable table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px !important;
    border: none !important;
}

#exportable table tr th, #exportable table th a{
    color: #707070 !important;
    font-size: 12px !important;
    font-weight: bold;
    white-space: nowrap;
    padding: 5px 5px;
}
#exportable .uiGrid.table tr th{
    background:none;
}
#exportable .uiGrid.table tr td{
        background: none;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}
#exportable .uiGrid.table thead tr{
    box-shadow:none;
}

#exportable .btn.btn-primary, #exportable .btn-primary{
    margin-top: 20px;
}
#exportable .uiGrid.table td, #exportable .uiGrid.table th{
        border-left: none ;
}
#exportable .uiGrid.table tr th:hover{
    background:#ececec;
}
#exportable .uiGrid.table tbody tr:hover{
    background:#e7e8ea;
}
#exportable table th a:hover{
    color:#578dc9 !important;
}