.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhUserInfo {
	padding: 20px 30px;
}



body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}



.exoer {
	color: #4d5466;
	width: 60px;
	text-align: center;
}

.google-visualization-orgchart-lineleft {
	border-left: 2px solid #333!important;
}
.google-visualization-orgchart-linebottom {
	border-bottom: 2px solid #333!important;
}
.google-visualization-orgchart-lineright {
	border-right: 2px solid #333!important;
}

.google-visualization-orgchart-nodesel {
    border: none;!important;
}


.exoer img {
	clear: both;
	display: block;
	margin: auto;
	max-height: 70px;
    max-width: 70px;
	border-radius: 100px;
}