body{
    overflow-x: hidden;
    color: #4d5466;
}
/* INVALID INPUT */
.ng-invalid{
    border-color: #f90000!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #afc9f0!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
}
form.ng-invalid{
    border: 0!important;
    box-shadow: none!important;
}
/* -- -- */
.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhAddon {
	padding: 20px 30px;
}


#wrap {
	padding: 10px;
}
#left_col {
	float:left;
	width:50%;
}
#left_col.no-border{border : 0!important}
#right_col {
	float:right;
	width:48%;
}

body {
	/*margin: 40px 10px;*/
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

input, select{width : 100%}

#myCalendar {
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
	background: #FFF;
}

.manage-view {
    padding: 15px;
    text-align: center;
}
.form-horizontal{
    padding: 20px;
}
td.RightBodyTDContainer{
    position : relative;
}
.vacationRequest-container{
    /*position: absolute;
    top: 0;
    left: -1px;
    background: rgba(81, 81, 81, 0.58);
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;*/
}
#vacationRequestForm {
    position: relative;
    background: #FFF;
    z-index: 1;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px;
}

.close-vacationRequest{
    position: relative;
    float: right;
    z-index: 5;
    line-height: 15px;
    padding: 0;
    height: 22px;
    width: 22px;
}
.table-project .row-item {
    height: 40px;
}
.uiIconExt-rh-managements:before{
    content: "\e6e1";
}
.elementDetail{

}
.elementDetail .ligne{
    padding: 10px 15px;
    display: flex;
}
.ligne.manager {
    display: block;
}
.elementDetail .ligne > b{
    margin-left: 0;
    width: 35%;
    color: #476a9c;
}
.elementDetail .ligne:nth-child(even){
    background : #f8f8f8;
}
.manager{margin-top: 20px;}
.manager > b{margin-bottom: 10px;}
.commmentLeft {
    float: left;
}
.commentRight {
    margin-left: 45px;
}
.commentRight textarea{width: 100%}
a.actionIcon.validate:hover i{color: #39c522}
a.actionIcon.deny:hover i{color: #cc543c}

.form-horizontal .control-label{width: 100px}
.form-horizontal .controls {margin-left: 120px;}

select[name=inputUsername] {
    width: 70%;
    margin-bottom: 0;
}
#calSaveButton{width: 25%}
#vacationRequestForm select{width: 100%!important}
/* */
/*  -- Date Pick --  */
/* */

.ui-widget-header{
    background: #36669b;
    border-color: #36669b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #626262;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
 .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background: rgb(54, 102, 155);
        border-color: rgb(54, 102, 155);
        color: #f8f8f8;
}

.ui-widget.ui-widget-content{background: #FFF}

/**/
.uiBox.elementResume {
    position: absolute;
    top: 196px;
    background: #FFF;
    z-index: 5;
    width: 30%;
    right: 0;
}

#requestResume{
    position: fixed;
    top: 8%;
    left: 45%;
    z-index: 10;
    background: #fff;
    min-width: 320px;
}
#requestResume .commentList{
    max-height : 75px;
    overflow-y: auto;
}
/* */
/*  -- New REQUEST FIXED --  */
/*
.vacationRequest-container.fixed{
        position: fixed;
        top: 14%;
        bottom: 0%;
        height: 465px;
        overflow: auto;
        border: solid 1px #ccc;
        background: #FFF;
        z-index: 5;
        background-color: white;
        padding-top: 20px;
        padding-right: 23px;
        border-radius: 5px;
}

/* ITEMS WIDTH */
.table-project .row-item .column-title{width: 75%}

/* */
/*  -- New REQUEST FIXED --  */
/* */
.vacationRequest-container.fixed{
    display: block;
    position: absolute;
    top: 80px;
    width: initial;
    height: initial;
    z-index: 20;
    right: 20%;
    left: 20%;
}

/* ITEMS WIDTH */


.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.62);
    z-index: 15;
    display : none;
}
.bg.display{display: block}




.requestCompleted{
    text-decoration: line-through;
}

.attachementName {
    background: none repeat scroll 0 0 #e2eafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-flex;
    font-size: 11px;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    max-width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
select#managerCalendarId {
    width: 100%;
    max-width: 200px;
    min-width: 165px;
}
#calSaveButton {
    max-width: 100px;
    float: none;
    min-width: 71px;
}
/* ---- requestTabs ---- */
#requestTabs{margin-top: 5px}
div#vacationRequestSaveAs {
    text-align: center;
    margin-top: 20px;
}
div#left_col.displayNone {display: none}
div#left_col.fullWidth, div#right_col.fullWidth {
    width: 100%;
}
.actionIcon, .actionIconSmall {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    color: #333333;
    padding: 0 5px;
    text-align: center;
    line-height: 19px;
    min-width: 15px;
    padding-bottom: 5px;
    vertical-align: middle;
}

/* -- -- ADDON MENU -- -- */
ul#addonMenu {
    margin: -20px -30px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -o-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: linear-gradient(to bottom,#f8f8f8,#e6e6e6);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffe6e6e6',GradientType=0);
    -webkit-box-shadow: inset;
    -moz-box-shadow: inset;
    box-shadow: inset;
    height: 90px;
}
ul#addonMenu > .active > a{
    background-color: #8f8f8f;
    background-image: -moz-linear-gradient(top,#999,#808080);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#808080));
    background-image: -webkit-linear-gradient(top,#999,#808080);
    background-image: -o-linear-gradient(top,#999,#808080);
    background-image: linear-gradient(to bottom,#999,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff808080',GradientType=0);
    -webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    -moz-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
}
ul#addonMenu > li > a {
    text-align: center;
    border: none;
    background: none;
    height: 51px;
    min-width: 45px;
    margin: 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
ul#addonMenu > li > a > i{  font-size: 32px;}
ul#addonMenu li > a > span {
    display: block;
    color: #333;
}
ul#addonMenu > .active> a > span,
ul#addonMenu > .active> a > i{
    color: #fff;
    text-shadow: none;
}
.nav-tabs li, .nav li{cursor: pointer}
.commentItem.commentFormBox {margin-top: 30px;}
.commentsBloc, .logsTabs{
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 15px;
}
a.actionIcon.inline-block-hide.uploadicon {
    padding: 1px 5px;
}
.selectize-input{padding: 0px 8px;}
div#resultMessage {
    margin-left: 5px;
}
#resultMsgLeft_col{display: none;    margin-left: 22px;}
.vacationRequest-container.fixed #resultMsgLeft_col{display: block}
#resultMessage.hide_alert{display:none}

.statusAction {
    padding: 0;
    margin: 0 0 15px 0;
    white-space: nowrap
}
.activeStatus, .disableStatus, .currentStatus {
    background: url(/eXoSkin/skin/images/themes/default/ecms/skin/Publication/bgGray.png) no-repeat;
    display: inline-block;
    width: 85px;
    text-align: center;
    position: relative;
    background-position: top center;
}
.activeStatus p, .disableStatus p, .currentStatus p {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0
}
.activeStatus .node, .disableStatus .node, .currentStatus .node {
    background: url(/eXoSkin/skin/images/themes/default/ecms/skin/Publication/normalNode.png) no-repeat;
    width: 85px;
    height: 49px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-position: 48% top;
}
.activeStatus p, .disableStatus p {
    color: #999}  .completed p,  .activeStatus.completed p,  .disableStatus.completed p{color:#333
                  }
.activeStatus:before,
.disableStatus:before,
.currentStatus:before {
    background: url("/eXoSkin/skin/images/themes/default/ecms/skin/Publication/lineGray.png") no-repeat left top;
    content: "";
    height: 13px;
    left: -29px;
    position: absolute;
    top: 17px;
    width: 50px;
}
li:first-child:before {
                background: none
            }
.disableStatus p {
    color: #999}  .currentStatus p{color:#2f5e92
                  }
.disableStatus .node {
    background: url("/eXoSkin/skin/images/themes/default/ecms/skin/Publication/unTickNode.png") no-repeat;
    background-position: 48% top;
    cursor: no-drop;
}
.currentStatus .node {
    background: url("/eXoSkin/skin/images/themes/default/ecms/skin/Publication/tickNode.png") no-repeat;
    background-position: 48% top;
}
hr.clearfix{
    opacity: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

div#infoTable {
    color: #385989;
    font-size: 15px;
    margin: 5px 0;
}
div#infoTable .ligne > span{
    color: #4d5466;
}
.filtername{font-weight: bold; font-size: 11px}
.groupByOptions .actionIcon, .groupByOptions .actionIconSmall{padding: 0}
.title_filter{
    position: relative;
    width: 100%;
}
.div_filter {
    position: absolute;
    right: 15px;
    background: #FFF;
    margin-top: 8px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 11px;
}
.div_filter .dropdown-menu li a{
    font-size: 12px;
}
div#tab-comments{
    width: 100%;
}
.uiIconClock:before{font-size: 18px}
i.uiIconDeleteUser.uiIconLightGray,i.uiIconValidate.uiIconLightGray, i.uiIconEcmsRemove.uiIconLightGray{
    top: 5px;
}
.commentItem {
    padding: 5px!important;
    /*display: flex!important;
    align-items: center!important;*/
}
.elementDetail .ligne {
    padding: 10px 8px!important;}
ul#addonMenu {
    background: #f8f8f8!important;
}
ul#addonMenu [class^="uiIcon"], .LeftNavigationTDContainer .uiPopup [class^="uiIcon"]{ color : #a8b3c5!important;}

ul#addonMenu > .active> a > span, ul#addonMenu > .active> a > i {
    color: #578dc9!important;
}
ul#addonMenu > .active > a{background: none!important;box-shadow: none!important;}
ul#addonMenu li {margin: 0 19px;}
ul#addonMenu li.active {
    cursor: pointer;
    border-bottom: 4px solid #578dc9;
    border-radius: 0;
    height: 88px;
    margin: 0 19px;
}
#requestResume {
    top: 15%!important;
    bottom: 15%!important;
    left: 45%!important;
    overflow-y: auto;
    overflow-x: hidden;
}

.user_details {
    margin: 0 0 15px 0;
    background: #f8f8f8;

}
.user_details:after{clear: both}
.user_details .ligne > b{width: 40%;}
@media screen and (max-width: 767px) {
    #right_col, #left_col{width : 100%}
    .rhAddon {padding: 20px 0px;}
    ul#addonMenu {margin: -20px 0px 0;}
    .fc-toolbar .fc-left{
        float: none;
        margin: auto;
        display: inline-block;
        text-align: center;
        width: auto;
    }
    .fc-toolbar .fc-right {
        float: right;
        float: none;
        display: inline-block;
    }
    .vacationRequest-container.fixed {
        right: 5px;
        left: 5px;
    }
    div#vacationRequestSaveAs {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .fc-toolbar .fc-center {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .fc .fc-toolbar > * > :first-child {
        margin-left: 0;
        float: none;
    }
}
.managersTabs .ligne{line-height: 40px}
table#managersTable{margin-bottom: 0; border: 1px solid #ccc;    width: initial;}
input {
    height: 40px;
    padding: 0 10px;
    border: Solid 2px #e1e8ee;
    border-radius: 4px;
}
.oDays {
    color: blue;
    }

.eDays {
    color: red;
    }
/*
.uiPublicationPanel .statusAction .activeStatus, .uiPublicationPanel .statusAction .disableStatus, .uiPublicationPanel .statusAction .currentStatus {
    background: url(/eXoSkin/skin/images/themes/default/ecms/skin/Publication/bgGray.png) no-repeat left top;
    display: inline-block;
    width: 101px;
    text-align: center;
    position: relative;
    margin-right: -4px;
}
.uiPublicationPanel .statusAction .activeStatus .node,
.uiPublicationPanel .statusAction .disableStatus .node,
.uiPublicationPanel .statusAction .currentStatus .node{
    background: url(/eXoSkin/skin/images/themes/default/ecms/skin/Publication/normalNode.png) no-repeat left top;
    width: 49px;
    height: 49px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}*/

#vacationRequestForm .DateTimeInput > *{width: 49.5%!important}