/* INVALID INPUT */
input.ng-invalid {
    border-color: #f90000!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #afc9f0!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px #f90000!important;
}
/* -- -- */
.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhAddon {
	padding: 20px 30px;
}


#wrap {
	padding: 10px;
}
#left_col {
	float:left;
	width:50%;
}
#left_col.no-border{border : 0!important}
#right_col {
	float:right;
	width:48%;
}

body {
	/*margin: 40px 10px;*/
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

input, select{width : 100%}

#myCalendar {
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
	background: #FFF;
}

.manage-view {
    padding: 15px;
    text-align: center;
}
.form-horizontal{
    padding: 20px;
}
td.RightBodyTDContainer{
    position : relative;
}
.vacationRequest-container{
    /*position: absolute;
    top: 0;
    left: -1px;
    background: rgba(81, 81, 81, 0.58);
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;*/
}
#vacationRequestForm {
    position: relative;
    background: #FFF;
    z-index: 1;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px;
}

.close-vacationRequest{
    position: relative;
    float: right;
    z-index: 5;
    line-height: 15px;
    padding: 0;
    height: 22px;
    width: 22px;
}
.table-project .row-item {
    height: 35px;
}
.uiIconExt-rh-managements:before{
    content: "\e6e1";
}
.elementDetail{

}
.elementDetail .ligne{
    padding: 5px 15px;
}
.elementDetail .ligne > b{ margin-left: 0}
.elementDetail .ligne:nth-child(even){
    background : #f8f8f8;
}
.manager{margin-top: 20px;}
.manager > b{margin-bottom: 10px;}
.commmentLeft {
    float: left;
}
.commentRight {
    margin-left: 45px;
}
.commentRight textarea{width: 100%}
a.actionIcon.validate:hover i{color: #39c522}
a.actionIcon.deny:hover i{color: #cc543c}

.form-horizontal .control-label{width: 100px}
.form-horizontal .controls {margin-left: 120px;}

select[name=inputUsername] {
    width: 70%;
    margin-bottom: 0;
}
#calSaveButton{width: 25%}
#vacationRequestForm select{width: 100%!important}
/* */
/*  -- Date Pick --  */
/* */

.ui-widget-header{
    background: #36669b;
    border-color: #36669b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #626262;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
 .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background: rgb(54, 102, 155);
        border-color: rgb(54, 102, 155);
        color: #f8f8f8;
}

.ui-widget.ui-widget-content{background: #FFF}

/**/
.uiBox.elementResume {
    position: absolute;
    top: 196px;
    background: #FFF;
    z-index: 5;
    width: 30%;
    right: 0;
}

#requestResume{
    position: fixed;
    top: 8%;
    left: 45%;
    z-index: 10;
    background: #fff;
    min-width: 320px;
}
#requestResume .commentList{
    max-height : 75px;
    overflow-y: auto;
}
/* */
/*  -- New REQUEST FIXED --  */
/* */
.vacationRequest-container.fixed{
        position: fixed;
        top: 14%;
        bottom: 0%;
        height: 465px;
        overflow: auto;
        border: solid 1px #ccc;
        background: #FFF;
        z-index: 5;
        background-color: white;
        padding-top: 20px;
        padding-right: 23px;
        border-radius: 5px;
}

/* ITEMS WIDTH */
.table-project .row-item .column-title{width: 75%}

/* */
/*  -- New REQUEST FIXED --  */
/* */
.vacationRequest-container.fixed{
        position: fixed;
           top: 14%;
           left:43%;
           bottom: 0%;
           height: 465px;
           overflow: auto;
           border: solid 1px #ccc;
           background: #FFF;
           z-index:20;
           background-color: white;
           padding-top: 20px;
           padding-right: 23px;
           border-radius: 5px;
}

/* ITEMS WIDTH */


.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.62);
    z-index: 15;
    display : none;
}
.bg.display{display: block}

@media screen and (max-width: 767px) {
    #right_col, #left_col{width : 100%}
}


.requestCompleted{
    text-decoration: line-through;
}

.attachementName {
    background: none repeat scroll 0 0 #e2eafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #215ab2;
    display: inline-block;
    font-size: 11px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    max-width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
select#managerCalendarId {
    width: 49%;
}

/* ---- requestTabs ---- */
#requestTabs{margin-top: 5px}
div#vacationRequestSaveAs {
    text-align: center;
    margin-top: 20px;
}
div#left_col.displayNone {display: none}
div#left_col.fullWidth, div#right_col.fullWidth {
    width: 100%;
}
.actionIcon, .actionIconSmall {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    color: #333333;
    padding: 0 5px;
    text-align: center;
    line-height: 19px;
    min-width: 15px;
    padding-bottom: 5px;
    vertical-align: middle;
}

/* -- -- ADDON MENU -- -- */
ul#addonMenu {
    margin: -20px -30px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -o-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: linear-gradient(to bottom,#f8f8f8,#e6e6e6);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffe6e6e6',GradientType=0);
    -webkit-box-shadow: inset;
    -moz-box-shadow: inset;
    box-shadow: inset;
    height: 90px;
}
ul#addonMenu > .active > a{
    background-color: #8f8f8f;
    background-image: -moz-linear-gradient(top,#999,#808080);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#808080));
    background-image: -webkit-linear-gradient(top,#999,#808080);
    background-image: -o-linear-gradient(top,#999,#808080);
    background-image: linear-gradient(to bottom,#999,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff808080',GradientType=0);
    -webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    -moz-box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
    box-shadow: 1px 0 4px rgba(0,0,0,0.38) inset;
}
ul#addonMenu > li > a {
    text-align: center;
    border: none;
    background: none;
    height: 51px;
    min-width: 45px;
    margin: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
        border-radius: 5px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
ul#addonMenu > li > a > i{  font-size: 32px;}
ul#addonMenu li > a > span {
    display: block;
    color: #333;
}
ul#addonMenu > .active> a > span,
ul#addonMenu > .active> a > i{
    color: #fff;
    text-shadow: none;
}
.nav-tabs li, .nav li{cursor: pointer}
.commentItem.commentFormBox {margin-top: 30px;}

