.rhLoadingBar {
	background: url("/rh-management-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}

.rhAddon {
	padding: 20px 30px;
}


#wrap {
	padding: 10px;
}
#left_col {
	float:left;
	width:50%;
}
#left_col.no-border{border : 0!important}
#right_col {
	float:right;
	width:48%;
}

body {
	/*margin: 40px 10px;*/
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

input, select{width : 100%}

#myCalendar {
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
	background: #FFF;
}

.manage-view {
    padding: 15px;
    text-align: center;
}
.form-horizontal{
    padding: 20px;
}
td.RightBodyTDContainer{
    position : relative;
}
.vacationRequest-container{
    /*position: absolute;
    top: 0;
    left: -1px;
    background: rgba(81, 81, 81, 0.58);
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;*/
}
#vacationRequestForm {
    position: relative;
    background: #FFF;
    z-index: 1;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px;
}
.close-vacationRequest{
    position: relative;
    float: right;
    z-index: 5;
    line-height: 15px;
    padding: 0;
    height: 22px;
    width: 22px;
}
.table-project .row-item {
    height: 35px;
}
.uiIconExt-rh-managements:before{
    content: "\e6e1";
}
.elementDetail{

}
.elementDetail .ligne{
    padding: 5px 15px;
}
.elementDetail .ligne > b{ margin-left: 0}
.elementDetail .ligne:nth-child(even){
    background : #f8f8f8;
}
.manager{margin-top: 20px;}
.manager > b{margin-bottom: 10px;}
.commmentLeft {
    float: left;
}
.commentRight {
    margin-left: 45px;
}
.commentRight textarea{width: 100%}
a.actionIcon.validate:hover i{color: #39c522}
a.actionIcon.deny:hover i{color: #cc543c}

.form-horizontal .control-label{width: 100px}
.form-horizontal .controls {margin-left: 120px;}

select[name=inputUsername] {
    width: 70%;
    margin-bottom: 0;
}
#calSaveButton{width: 25%}

/* */
/*  -- Date Pick --  */
/* */

.ui-widget-header{
    background: #36669b;
    border-color: #36669b;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #626262;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
 .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background: rgb(54, 102, 155);
        border-color: rgb(54, 102, 155);
        color: #f8f8f8;
}

.ui-widget.ui-widget-content{background: #FFF}

/**/
.uiBox.elementResume {
    position: absolute;
    top: 196px;
    background: #FFF;
    z-index: 5;
    width: 30%;
    right: 0;
}

#requestResume{
    position: fixed;
    top: 8%;
    left: 45%;
    z-index: 10;
    background: #fff;
    min-width: 320px;
}
#requestResume .commentList{
    max-height : 75px;
    overflow-y: auto;
}
/* */
/*  -- New REQUEST FIXED --  */
/* */
.vacationRequest-container.fixed{
        position: fixed;
        top: 14%;
        bottom: 0%;
        height: 465px;
        overflow: auto;
        border: solid 1px #ccc;
        background: #FFF;
        z-index: 5;
        background-color: white;
        padding-top: 20px;
        padding-right: 23px;
        border-radius: 5px;
}

/* ITEMS WIDTH */
.table-project .row-item .column-title{width: 80%}

/* */
/*  -- New REQUEST FIXED --  */
/* */
.vacationRequest-container.fixed{
        position: fixed;
           top: 14%;
           left:43%;
           bottom: 0%;
           height: 465px;
           overflow: auto;
           border: solid 1px #ccc;
           background: #FFF;
           z-index:20;
           background-color: white;
           padding-top: 20px;
           padding-right: 23px;
           border-radius: 5px;
}

/* ITEMS WIDTH */
.table-project .row-item .column-title{width: 80%}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.62);
    z-index: 15;
    display : none;
}
.bg.display{display: block}

@media screen and (max-width: 767px) {
    #right_col, #left_col{width : 100%}
}